.App {
  font-family: sans-serif;
  color: rgb(87, 79, 119);
  line-height: 1.5;
  display: flex;
  justify-content: center;
}

.recipeDisplay {
  display: flex;
  justify-content: space-around;
  max-width: 1350px;
}
